/* This is the the css file for home page with "no gutters" style between
** photos and texts    
*/

/* General */
.c-py-6 {
  padding: 6.25rem 0;
}

/* Site nav */
#main-nav .nav-item {
  font-size: 1.4rem;
}

#main-nav .navbar-brand span {
  color: #dc3545;
  color: #007bff;
  /* font-weight: bold; */
  display: table;
}

/* Showcase */
#showcase {
  position: relative;
  min-height: 600px;
  background: url("../img/temp/6.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center center; */

  /* text-align: center; */
  color: #fff;
}

.c-dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#showcase .display-2 {
  margin-top: 5rem;
}

#showcase .lead {
  font-size: 2rem;
}

/* Small devices (landscape phones, between 450px and 576px) */
@media (min-width: 450px) and (max-width: 575.98px) {
  #courses .c-text {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  #modules .c-text {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  #faculty .c-text {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  #students .c-text {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #courses .c-text {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
    font-size: 1.25rem;
  }
  #modules .c-text {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
    font-size: 1.25rem;
  }
  #faculty .c-text {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
    font-size: 1.25rem;
  }
  #students .c-text {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
    font-size: 1.25rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #courses .c-text {
    padding: 1.5rem !important;
    font-size: 1rem;
  }
  #modules .c-text {
    padding: 1.5rem !important;
    font-size: 1rem;
  }
  #faculty .c-text {
    padding: 1.5rem !important;
    font-size: 1rem;
  }
  #students .c-text {
    padding: 1.5rem !important;
    font-size: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #courses .c-text {
    padding: 3rem !important;
    font-size: 1.25rem;
  }
  #modules .c-text {
    padding: 3rem !important;
    font-size: 1.25rem;
  }
  #faculty .c-text {
    padding: 3rem !important;
    font-size: 1.25rem;
  }
  #students .c-text {
    padding: 3rem !important;
    font-size: 1.25rem;
  }
}

/* Large devices (desktops, 1669px and up) */
@media (min-width: 1669px) {
  #courses h3 {
    font-size: 2.5rem;
  }
  #modules h3 {
    font-size: 2.5rem;
  }
  #faculty h3 {
    font-size: 2.5rem;
  }
  #students h3 {
    font-size: 2.5rem;
  }
  #courses .c-text {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
    font-size: 1.75rem;
  }
  #modules .c-text {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
    font-size: 1.75rem;
  }
  #faculty .c-text {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
    font-size: 1.75rem;
  }
  #students .c-text {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  #main-nav .c-nav-register {
    margin-top: 1rem;
  }

  #main-nav .c-nav-register > li {
    margin-right: 0 !important;
    margin-bottom: 0.5rem;
  }
}
